
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Pagina restrita";
}

<p>Você não tem permissao para acessar essa funcionalidade, <a asp-controller="Home"asp-action="Index">Click aqui para voltar para home</a></p>